.DevPanel
    padding: 20px 30px
    width: 68%
    background-color: $panelColor
    transition: width .3s
    &__list
        height: 79%
    &__topNav
        height: 10%
    &__title
        height: 10%
        margin: 0
    .form-btn
        min-height: 20px
        width: 20%