.Leftbar
    width: 12%
    height: 100%
    display: flex
    align-items: center
    flex-direction: column
    border-right: 1px solid $linesColor
    &__logo
        height: 20%
    ul
        list-style-type: none
        margin: 0
        width: 100%
        padding: 0
        li
            display: flex
            justify-content: center
            align-items: center
            height: 30px
            position: relative
            cursor: pointer
            transition: all .5s
            svg
                transition: all .5s
            &:hover
                stroke: $primaryColor
                color: white
            &.active:before
                content: ""
                position: absolute
                right: -2px
                width: 2px
                border-radius: 3px
                height: 70%
                background-color: $primaryColor
            &.active
                &:hover
                    color: $primaryColor
                svg
                    stroke: $primaryColor
            svg
                margin-right: 25px