.NavBar
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    height: 10%
    &__logo
        display: flex
        align-items: center
        cursor: pointer
        svg
            margin-right: 20px
            width: 40%
            height: 40%
            max-width: 50px
            max-height: 50px
        h3
            white-space: nowrap
    ul 
        .form-btn
            min-height: 20px
            padding: 10px 20px
        li
            list-style-type: none
            display: inline-block
            margin: 0 10px
.logo
    stroke: $primaryColor
    min-width: 40px
    min-height: 40px