.Panel
    padding: 20px 30px
    width: 68%
    background-color: $panelColor
    transition: width .3s
    height: 100%
    @media only screen and (max-width: 1270px) 
        width: 74%
    &.active
        width: 88%
        @media only screen and (max-width: 1270px) 
            width: 94%
    &__days
        display: flex
        justify-content: center
        margin-top: 20px
        height: 100%
    &__selectWeek
        position: absolute
        top: 10px
        right: 15px
        background-color: $accentColor2
        border: 0
        color: white
        padding: 5px 10px
        cursor: pointer
        font-family: Poppins
        border: 0px
        outline: 0px
        &:active, &:hover 
            outline: none
        option
            padding: 120px
            border: 0
            &:active, &:hover 
                outline: none
            &:hover
                box-shadow: 0 0 10px 100px $primaryColor inset

    &__chart
        display: flex
        justify-content: space-between
        width: 100%
        height: 100%
        align-items: center
    &__more
        width: 100%
        height: 20%
        float: left
        padding-bottom: 10px
        a
            float: left
            display: flex
            margin: 0 10px
        .courses__box
            height: 70%
            margin: 0
            white-space: nowrap
            svg:nth-child(1)
                width: auto
        h3
            margin-bottom: 25px
    &__stats
        background-color: $accentColor1
        width: 62%
        height: 30%
        border-radius: 10px
        position: relative
        transition: all .3s
        padding: 15px
        margin-top: 20px
        float: right
        position: relative
        h5
            color: $accentColor3
            margin-top: 0
        .Panel__days > h5:nth-child(1)
            top: 15px
            position: absolute
            color: white
            left: 15px
    &__slider
        width: 5px
        height: 80px
        background-color: $accentColor2
        border-radius: 20px
        position: relative
        &-active
            background-color: $primaryColor
            position: absolute
            border-radius: 20px
            width: 100%
            bottom: 0
    &__day
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center    
        height: 100%
        h5
            margin-bottom: 10px
        h5
            margin: 10px 0

.Panel__title,.DevPanel__title,.Courses__title
    display: flex
    justify-content: space-between
    width: 100%
    padding-bottom: 10px
    height: 10%
    h3
        font-weight: 500
.Panel__date,.DevPanel__date,.Courses__date
    color: $accentColor3
    margin-right: 15px
.Panel__time,.DevPanel__time,.Courses__time
    display: flex
    align-items: center
    svg
        width: 30px
        height: 30px
        cursor: pointer
    .first
        margin-right: 10px
.Panel__quickstart
    background-color: $accentColor1
    width: 35%
    height: 30%
    border-radius: 10px
    position: relative
    transition: all .3s
    padding: 15px
    cursor: pointer
    margin-top: 20px
    float: left
    display: flex
    justify-content: center
    align-items: center
    &:hover 
        h5
            color: $primaryColor
        svg
            background-color: $primaryColor
    .title
        display: flex
        justify-content: flex-start
        align-items: center
        flex-direction: column
        svg
            margin: 0
            margin-bottom: 10px
            transition: all .3s
        span
            display: flex
            justify-content: center
            align-items: center
        h3
            color: white
        h4,h3
            margin: 0
    h5,h4
        color: $accentColor3
        margin-top: 0
    h5
        position: absolute
        top: 15px
        color: white
        left: 15px
.Panel__error
    display: flex
    justify-content: center
    text-align: center
    align-items: center
    flex-direction: column
    width: 100%
    height: 100%
    svg
        width: 15%
        height: 15%
        stroke: $primaryColor
    h4
        color: $accentColor3
.Panel__notification
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    cursor: pointer
    text-align: center
    svg
        width: 40px
        height: 40px
        min-width: 35px
        min-height: 35px
    h4
        color: $accentColor3
        margin-bottom: 0
    &:hover svg
        background-color: $primaryColor
        stroke: white
.Panel__welcome
    width: 100%
    height: 30%
    background-color: $primaryColorbg
    border-radius: 10px
    padding: 20px 80px
    display: flex
    justify-content: flex-start
    align-items: center
    h2
        color: $primaryColor
        margin: 0
    .left
        h4
            margin-bottom: 0
        h4:nth-child(3)
            margin: 0
    h4 b
        color: $primaryColor