.Panel
    padding: 20px 30px
    width: 68%
    background-color: $panelColor
    transition: width .3s
    &__more
        width: 100%
.Panel__title,.DevPanel__title
    display: flex
    justify-content: space-between
    width: 100%
    margin-bottom: 20px
    h3
        font-weight: 500
.Panel__date,.DevPanel__date
    color: $accentColor3
    margin-right: 15px
.Panel__time,.DevPanel__time
    display: flex
    align-items: center
    svg
        width: 30px
        height: 30px
        cursor: pointer
    .first
        margin-right: 10px
.Panel__quickstart
    background-color: $accentColor1
    width: 40%
    height: 250px
    border-radius: 10px
    position: relative
    transition: all .3s
    padding: 20px
.Panel__error
    display: flex
    justify-content: center;
    align-items: center
    flex-direction: column
    width: 100%
    height: 100%
    svg
        width: 15%
        height: 15%
        stroke: $primaryColor
    h4
        color: $accentColor3
.Panel__notification
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    cursor: pointer
    text-align: center
    svg
        width: 50px
        height: 50px
    h4
        color: $accentColor3
    &:hover svg
        background-color: $primaryColor
        stroke: white
.Panel__welcome
    width: 100%
    height: 30%
    background-color: $primaryColorbg
    border-radius: 10px
    padding: 20px 80px
    margin-bottom: 20px
    display: flex
    justify-content: flex-start
    align-items: center
    
    h2
        color: $primaryColor