.Panel
    padding: 20px 20px
    width: 68%
    background-color: $panelColor
    &__title
        display: flex
        justify-content: space-between
        width: 100%
        h3
            font-weight: 500
    &__date
        color: $accentColor3
        margin-right: 15px
    &__time
        display: flex
        align-items: center
        svg
            width: 35px
            height: 35px
            cursor: pointer
        .first
            margin-right: 10px

