.CourseContainer
    width: 100%
    height: 100%
    display: flex
    .Leftbar
        width: 6%
        svg
            margin: 0
        li
            justify-content: center
        h4
            display: none
.CoursePage
    padding: 20px 30px
    width: 94%
    background-color: $panelColor
    transition: width .3s
    height: 100%